node_modules
# General
# ----------------
# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local environment variables
# Never commit your secret keys!
.env
.env.local
.env.*.local

# Node.js
# ----------------
# The node_modules directory is the most important thing to ignore.
/node_modules

# Build Artifacts
# ----------------
# Next.js client build output
apps/client/.next/
apps/client/out/

# NestJS server build output
apps/server/dist/

# Logs and Cache
# ----------------
npm-debug.log*
yarn-error.log*
pnpm-debug.log*